/* General styling for the body */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Poppins;
    position: relative;
}


/* Navigation styling */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 0px 10px;
    box-shadow: 2px 2px 5px lightgray;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 10px 20px;
    background: unset;
    transition: background 0.5s;
}

nav ul li:hover {
    background: black;
}

nav ul li a {
    text-decoration: unset;
    color: black;
}

nav ul li:hover a {
    color: white;
}


/* Main section styling */

#main {
    height: 100vh;
    position: relative;
    /* background: url('../images/game.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; */
}

/* #main::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
} */

.introduction {
    width: 80%;
    /* center div horizontally and vertically */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
}

.introduction h1 {
    text-align: center;
    font-size: 40px;
}

.lightstudio {
    display: flex;
    justify-content: space-between;
}

.lightstudio div {
    text-align: justify;
    width: 45%;
}

.lightstudio div p:nth-child(1):first-letter {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Footer section */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 0px 5px;
}

footer img {
    width: 100px;
}

footer ul {
    display: flex;
}

footer ul {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 0px 10px;
    transition: 0.5s ease-in-out;
}

footer ul li a:hover {
    font-size: 15px;
}